{%- assign current_lang = page.lang | default: site.lang | default: "en" -%}
{%- assign posts = paginator.posts | default: site.posts -%}
{%- assign posts = posts | where: "lang", current_lang -%}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    {{ post.excerpt }}
    <div class="more"><a href="{{ post.url | relative_url }}">{{ site.data.i18n[current_lang].read_more }}</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">{{ site.data.i18n[current_lang].newer_posts }}</a>{% else %}<span></span>{% endif %}
    <span>{{ site.data.i18n[current_lang].page_of | replace: "{page}", paginator.page | replace: "{total}", paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">{{ site.data.i18n[current_lang].older_posts }}</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
